In [1]:
from config import username, password
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees')
connection = engine.connect()

In [ ]:
Base = declarative_base()

class Employees(Base) :
    __tablename__ = 'employees'
    emp_no = Column(Integer, primary_key = True)
    emp_title_id = Column(String(10))
    bith_date = Column(date)
    first_name = Column(String(30))
    last_name = Column(String(30))
    sex = Column(String(10))
    hire_date = Column(date)
    
class Salaries(Base) :
    __tablename__ = 'salaries'
    emp_no = Column(Integer, foreign_key = True)
    salary = Column(Integer)
    
    
class Titles(Base) :
    __tablename__ = 'titles'
    title_id = Column(String(10), pimary_key = True)
    title = Column(String(30))

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.

# Create a bar chart of average salary by title.

In [6]:
data = pd.read_sql("select * from employees", connection)

The history saving thread hit an unexpected error (OperationalError('unable to open database file',)).History will not be written to the database.

Exception in thread IPythonHistorySavingThread:
Traceback (most recent call last):
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/IPython/core/history.py", line 834, in run
  File "<decorator-gen-23>", line 2, in writeout_cache
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/IPython/core/history.py", line 58, in needs_sqlite
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/IPython/core/history.py", line 780, in writeout_cache
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/IPython/core/history.py", line 764, in _writeout_input_cache
sqlite3.OperationalError: unable to open database file

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel/iostream.py", line 97, in _event_pipe
AttributeError: '_thread._local' object has no attribute 'event_pipe'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/threading.py", line 916, in _bootstrap_inner
  File "<decorator-gen-24>", line 2, in run
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/IPython/core/history.py", line 58, in needs_sqlite
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/IPython/core/history.py", line 837, in run
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel/iostream.py", line 404, in write
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel/iostream.py", line 205, in schedule
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel/iostream.py", line 101, in _event_pipe
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/zmq/sugar/context.py", line 212, in socket
  File "/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/zmq/sugar/socket.py", line 59, in __init__
  File "zmq/backend/cython/socket.pyx", line 328, in zmq.backend.cython.socket.Socket.__init__
zmq.error.ZMQError: Too many open files in system
Unhandled exception in thread started by <bound method Thread._bootstrap of <HistorySavingThread(IPythonHistorySavingThread, started 123145566195712)>>
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.
--- Logging error ---
Error in sys.excepthook:
Traceback (most recent call last):


During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:



Original exception was:
Traceback (most recent call last):


During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:



During handling of the above exception, another exception occurred:

In [7]:
data.head()

   emp_no emp_title_id   bith_date  first_name  last_name sex   hire_date
0  473302        s0001  1953-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053        e0002  1954-11-18       Byong  Delgrande   F  1991-09-07
2   57444        e0002  1958-01-30       Berry       Babb   F  1992-03-21
3  421786        s0001  1957-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238        e0003  1952-10-28  Abdelkader    Baumann   F  1991-01-18